# Скрываем сгенерированные файлы и скрипты сборки
Makefile linguist-vendored
*.mk linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
# Если есть папка build или подобные
build/** linguist-vendored
