# Игнорировать Makefile в статистике языков
Makefile linguist-documentation
*.mk linguist-documentation

# Скрыть файлы сборки CMake из статистики
CMakeLists.txt linguist-documentation
*.cmake linguist-documentation
